* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 38, 38);

}

nav h2 {
  font-size: 1.8rem;
  color: #fff;
}

nav select {
  padding: 5px;
  outline: none;
  font-size: 1.2rem;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}

.menu_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food_container{
  width: 350px;
  height: 350px;
  margin: 20px 15px;
  background: #333;
}
.food_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.food_container h2{
  color: #fff;
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}